html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-text-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --white-text-color: #ffffff;
  --grey-back-color: #f5f4fa;
  --grey-border-color: #eeeeee;
  --grey-border-color-partners: #afb1b8;
  --grey-hero-background-color: #c4c4c4;
  --grey-dark-circle-for-icon: rgba(255, 255, 255, 0.1);
  --acent-overley-portfolio: rgba(33, 150, 243, 0.9);
  --background-modal-color: rgba(0, 0, 0, 0.2);
  --color-border-modal-button: rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.page-header {
  box-sizing: inherit;
  height: 80px;
  display: flex;
}
/* Container and Section */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid tomato;
}
.top-nav {
  display: flex;
  align-items: center;
}
/* Hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-color: #2f303a;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 40%),
      rgba(47, 48, 58, 40%)
    ),
    url(../images/jpg/effect.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey-hero-background-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  border: 0px;
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0px;
}

/* Main Navigation*/
.logo-web {
  color: var(--acent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-contacts {
  display: flex;
  align-items: center;
}
.adress-top {
  font-style: normal;
  margin-left: auto;
}
.site-nav {
  display: flex;
}
.mail {
  margin-right: 30px;
}

/* Menu item */
.menu-item-studio {
  margin-right: 85px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-item-contacts:not(:last-child) {
  margin-right: 30px;
  align-items: center;
}
.menu-item {
  position: relative;
}
.menu-item > .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.currant {
  color: var(--acent-text-color);
}

.link.currant::after {
  content: "";
  position: absolute;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--acent-text-color);
  border-radius: 2px;
}
.sprite-envelope,
.sprite-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
}
.main-logo {
  margin-right: 85px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* .mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

.contacts {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus,
.button:active,
.button-portfolio:active {
  color: var(--acent-text-color);
}

/* Work principles*/

.principles-title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.principles-description {
  margin: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-principles {
  padding-bottom: 100px;
  padding-top: 100px;
}
.principles {
  display: flex;
  flex-wrap: wrap;
}
.principles:not(:last-child) {
  margin-right: 0px;
  margin-right: 30px;
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.working:last-child {
  margin-right: 0px;
}
.workingimg {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #f5f4fa;
}
.working {
  margin-right: 30px;
  width: 270px;
}

/* What do we do section*/

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0px;
}
/* Item ----------------------------- */
.item {
  display: flex;
  position: relative;
}
.item {
  /* width: 370px; */
  margin-right: 30px;
}
.item:last-child {
  margin-right: 0px;
}
.work-list-title {
  /* color: var(--white-text-color); */

  /* font-weight: 700; */
  /* /* font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase; */
  /* padding: 30px 0px 0px 0px;
  margin: 0px 0px 30px 0px; */

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  padding-top: 27px;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

.item .project-pic {
  display: block;
}

.wwd {
  padding-bottom: 100px;
}

/* Our team section*/
.ourteam {
  background-color: var(--grey-back-color);
}
.teamsection {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-team {
  margin-bottom: 50px;
  margin-top: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  display: flex;
  flex-wrap: wrap;
}

.team .worker {
  margin-right: 30px;
  padding-bottom: 24px;

  background-color: var(--white-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .worker:last-child {
  margin-right: 0px;
}
.member {
  display: block;
  margin-bottom: 30px;
}
.team {
  display: flex;
  justify-content: center;
  font-size: 0px;
}
.team .clients {
  margin-right: 30px;
  padding-bottom: 25px;
  background-color: var(--white-text-color);
}
.team .clients:last-child {
  margin-right: 0px;
}
.team-member-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients {
  display: flex;
  justify-content: center;
}

.partner-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-border-color-partners);
  color: var(--grey-border-color-partners);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sprite-client {
  fill: currentColor;
}

.partner-link:hover,
.partner-link:focus {
  color: var(--acent-text-color);
  border-color: var(--acent-text-color);
}

.partner:not(:last-child) {
  margin-right: 30px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media,
.icon-list {
  margin-right: 10px;
}
.icon-list:last-child {
  margin-right: 0px;
}
.icon {
  display: block;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  color: var(--grey-border-color-partners);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smm-icon {
  fill: currentColor;
}
.icon-list .icon:hover,
.icon-list .icon:focus {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
}
.profession {
  margin-top: 0px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
}
/*MODAL WINDOW*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 521px;
  background-color: var(--white-text-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid var(--color-border-modal-button);
  border-radius: 50%;
}

.modal-cross {
  display: block;
}

/* Adress section Foter */

.footer-flexbox {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
  /* align-items: start; */
}

.footer-list {
  display: flex;
  /* justify-content: space-around; */
}

.footer {
  background: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo .blue {
  color: var(--acent-text-color);
}

.footer-adress {
  font-style: normal;

  color: var(--white-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.email,
.phone {
  font-style: normal;
  color: var(--contacts-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress,
.email {
  margin-bottom: 9px;
}

.footer-form .slogan,
.footer-flexbox .slogan {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.basement {
  margin-right: 70px;
}

.footer-button {
  border-radius: 4px;
  padding: 10px 28px;
  min-width: 200px;
  border: 0px;

  background-color: var(--acent-text-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
/* .staf {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.foot .staf:last-child {
  margin-right: 0px; 
} */
.icon-footer {
  display: block;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  color: var(--white-text-color);
  background-color: var(--grey-dark-circle-for-icon);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list .icon-footer:hover,
.icon-list .icon-footer:focus {
  background-color: var(--acent-text-color);
}

/*PORTFOLIO PAGE CSS*/

.section-portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav .item {
  margin-right: 10px;
}
.portfolio-nav .item:last-child {
  margin-right: 0px;
}

.button-portfolio {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;

  /* margin-bottom: 50px; */

  background-color: var(--grey-back-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white-text-color);
}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.item .example {
  display: block;
}
.item .discription {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-title {
  margin-bottom: 5px;
  margin-top: 0px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-group {
  margin: 0px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Cards ------------------------------------*/
.example-card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--acent-overley-portfolio);
  opacity: 0;
  transform: translateY(50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .card-overlay {
  transform: translateY(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.portfolio-item:hover,
.portfolio-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  color: var(--white-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
